version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6
    steps:
      - run:
          command: |
            mkdir aaa
            echo build ${CIRCLE_BRANCH} ${CIRCLE_TAG}
            ls
  deploy1:
    docker:
      - image: circleci/python:3.6
    steps:
      - run:
          command: |
            echo deploy1 ${CIRCLE_BRANCH} ${CIRCLE_TAG}
            touch bbbb
            ls

  deploy2:
    docker:
      - image: circleci/python:3.6
    steps:
      - run:
          command: |
            echo deploy2 ${CIRCLE_BRANCH} ${CIRCLE_TAG}

  deploy3:
    docker:
      - image: circleci/python:3.6
    steps:
      - run:
          command: |
            echo deploy3 ${CIRCLE_BRANCH} ${CIRCLE_TAG}



# workflows:
#   version: 2
#   build_and_deploy:
#     jobs:
#       - build:
#           filters:
#             branches:
#               only: /.*/
#             tags:
#               only: /.*/
# 
#       - deploy1:
#           filters:
#             branches:
#               only: /.*/
#             tags:
#               only: /.*/
# 