version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6
    steps:
      - run:
          command: |
            mkdir aaa
            echo 22222 build ${CIRCLE_BRANCH} ${CIRCLE_TAG}
            ls
  deploy1:
    docker:
      - image: circleci/python:3.6
    steps:
      - run:
          command: |
            echo 22222  deploy1 ${CIRCLE_BRANCH} ${CIRCLE_TAG}
            touch bbbb
            ls

  deploy2:
    docker:
      - image: circleci/python:3.6
    steps:
      - run:
          command: |
            echo 22222 deploy2 ${CIRCLE_BRANCH} ${CIRCLE_TAG}

  deploy3:
    docker:
      - image: circleci/python:3.6
    steps:
      - run:
          command: |
            echo 22222 deploy3 ${CIRCLE_BRANCH} ${CIRCLE_TAG}


workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            # only act on version tags
            tags:
              only: /^v.*/

      - deploy1:
          requires:
            - build

          filters:
            # only act on version tags
            tags:
              only: /^v.*/
